<div
  class="feature"
  {% if include.flip %}
    data-flip
  {% endif %}
  {% if include.stack %}
    data-stack
  {% endif %}
>
  {% if include.stack %}
    <div class="feature-text">
      {% if include.title %}
        <p class="feature-title">{{ include.title }}</p>
      {% endif %}
      {{ include.text | markdownify }}
    </div>

    <a
      {% if include.link %}
        href="{{ include.link | relative_url | uri_escape }}"
      {% endif %}
      class="feature-image"
      aria-label="{{ include.title | default: "feature link" | regex_strip }}"
    >
      <img
        src="{{ include.image | relative_url | uri_escape }}"
        loading="lazy"
        alt="{{ include.title | default: "feature image" | regex_strip }}"
        {% include fallback.html %}
      >
    </a>
  {% else %}
    <a
      {% if include.link %}
        href="{{ include.link | relative_url | uri_escape }}"
      {% endif %}
      class="feature-image"
      aria-label="{{ include.title | default: "feature link" | regex_strip }}"
    >
      <img
        src="{{ include.image | relative_url | uri_escape }}"
        loading="lazy"
        alt="{{ include.title | default: "feature image" | regex_strip }}"
        {% include fallback.html %}
      >
    </a>
    <div class="feature-text">
      {% if include.title %}
        <p class="feature-title">{{ include.title }}</p>
      {% endif %}
      {{ include.text | markdownify }}
    </div>
  {% endif %}
</div>
